@media print{
	#sidebar-primary{
		display: none !important;
	}
	#primary{
		width: 100% !important;
		height: 100% !important;
		position: fixed;
	    top: 0px;
	    left: 0px;
	    z-index: 9999999;
	    background-color: #ffffff;
	    font-size: 12pt;
	    border: 1px solid #000;
	}
	header.entry-header{
		text-align: center !important;
	}
	#main {
	    
	}
	h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
     page-break-inside:avoid; }
	h3 { margin-left:10px; 
	     margin-bottom:0px; 
	     padding-bottom:0px; }
	blockquote, table, pre { page-break-inside:avoid; }
	ul, ol, dl  { page-break-before:avoid; }
	img.centered { display: block; 
	     margin-left: auto; 
	     margin-right: auto; }
	img.right { padding: 4px; 
	     margin: 0 0 2px 7px; 
	     display: inline; }
	img.left { padding: 4px; 
	     margin: 0 7px 2px 0; 
	     display: inline; }
	.right { float: right; }
	.left { float: left; }
	img { page-break-inside:avoid; 
	     page-break-after:avoid; }
	.uni_lms_course_tabs{
		display: none;
	}
	.uni_lms_course_tabcontent{
		border: none;
	}
	.uni_lms_inst_logo{
		display: block !important;
		margin: 0 auto;
	}
	
}